.header {
    background-color: $color-grey-dark-1;
    grid-column: full-start / full-end;

    background-image: linear-gradient(rgba($color-secondary, .3),rgba($color-secondary, .93)), url(../img/handy-wicaksono-1184964-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 1.5rem;
    justify-content: center;

    padding: 8rem;
    padding-top: 4rem;

    &__logo {
        height: 3rem;
        justify-self: center;

        animation-name: logoAppear;
        animation-duration: 3s;
    }

    &__btn {
        margin-top: 3rem;
        align-self: start;
        justify-self: center;
    }

}

.typewrite {
    text-decoration: none;
    color: #fff;
    font-size: 5rem;
    animation: moveInLeft 3s;
    max-width: 10rem;

    overflow: hidden;
}

.heading-primary-main {
    font-size: 5rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
}

.heading-primary-secondary {
    animation-name: moveInLeft;
    animation-duration: 3s;
}


.scroll {
	&__down {
		position: absolute;
		top: 95%;
		bottom: -44px;
		left: 55%;
		display: inline-block;
		width: auto;
		margin: 0 auto;
		text-align: center;
		background-color: transparent;
		border: none;
        transform: translate(-50%, -50%);
        
        @media only screen and (max-width: $bp-large) {
            left: 50%;
        }
    }

    


	// &__mouse {
	// 	position: relative;
	// 	display: inline-block;
	// 	width: 24px;
	// 	height: 54px;
	// 	margin: 0 auto;
	// 	border: 2px solid #fff;
    //     border-top-left-radius: 10px;
    //     border-top-right-radius: 10px;
	// }

	// &__wheel {
	// 	position: absolute;
	// 	top: -18px;
	// 	left: 8px;
	// 	width: 3px;
	// 	height: 3px;
	// 	background-color: #fff;
	// 	border-radius: 50%;
	// 	animation: scrollDown 2.5s infinite;
	// }
}

.m_scroll_arrows {
    display: block;
    transform: rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    
    width: 16px;
    height: 16px;
}
.trei {
    margin-top: -11px;
    animation: mouse-scroll 1s infinite;
    animation-delay: .1s;
}
.unu {
    margin-top: -9px;
    animation: mouse-scroll 1s infinite;
    animation-delay: .2s;
}
.doi {
    margin-top: -7px;
    animation: mouse-scroll 1s infinite;
    animation-delay: .3s;
}

@keyframes mouse-scroll {
    0%   { opacity: 0; }
    25%  { opacity: .25 }
    50%  { opacity: .5; }
    75%  { opacity: .75; }
    100% { opacity: 1; }
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {

    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes logoAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scrollDown {
	0% {
		top: 14px;
		opacity: 0;
	}
	15% {
		top: 14px;
		opacity: 1;
	}
	30% {
		top: 14px;
		opacity: 1;
	}
	45% {
		top: 34px;
		opacity: 1;
	}
	100% {
		top: 34px;
		opacity: 0;
	}
}