*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 100vh min-content 40vw repeat(2, min-content);
  grid-template-columns: [sidebar-start] 15rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem) min-content 40vw repeat(2, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem) repeat(6, min-content); } }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  outline: none;
  cursor: pointer;
  padding: 1.75rem 3rem;
  color: #fff;
  font-size: 2rem;
  background-color: #c69963;
  border: none;
  transition: all .2s; }
  .btn:hover {
    background-color: #B28451; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-xl {
  margin-bottom: 5rem; }

.mb-l-sm {
  margin-left: 2rem; }

.mb-l-md {
  margin-left: 3rem; }

.mb-l-lg {
  margin-left: 4rem; }

.mb-l-xl {
  margin-left: 5rem; }

.sidebar {
  background-color: #fff;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .sidebar {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      justify-content: flex-end;
      align-items: center; } }
  @media only screen and (max-width: 50em) {
    .sidebar {
      justify-content: center; } }

.side-nav {
  font-size: 2rem;
  list-style: none;
  margin-top: 20rem;
  position: fixed;
  display: grid;
  justify-content: space-around; }
  @media only screen and (max-width: 62.5em) {
    .side-nav {
      margin-top: 0;
      display: flex;
      position: sticky; } }
  @media only screen and (max-width: 37.5em) {
    .side-nav {
      font-size: 1rem; } }
  .side-nav__item {
    position: relative; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #B28451;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
  .side-nav__item:hover {
    color: #fff; }
  .side-nav__item:hover::before {
    transform: scaleY(1);
    width: 97%;
    color: #fff; }
  .side-nav__link:link, .side-nav__link:visited {
    color: #c69963;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 2.5rem;
    position: relative;
    z-index: 10; }
    .side-nav__link:link:hover, .side-nav__link:visited:hover {
      color: #fff; }

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem; }

.header {
  background-color: #54483A;
  grid-column: full-start / full-end;
  background-image: linear-gradient(rgba(16, 29, 44, 0.3), rgba(16, 29, 44, 0.93)), url(../img/handy-wicaksono-1184964-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  justify-content: center;
  padding: 8rem;
  padding-top: 4rem; }
  .header__logo {
    height: 3rem;
    justify-self: center;
    animation-name: logoAppear;
    animation-duration: 3s; }
  .header__btn {
    margin-top: 3rem;
    align-self: start;
    justify-self: center; }

.typewrite {
  text-decoration: none;
  color: #fff;
  font-size: 5rem;
  animation: moveInLeft 3s;
  max-width: 10rem;
  overflow: hidden; }

.heading-primary-main {
  font-size: 5rem;
  animation-name: moveInLeft;
  animation-duration: 3s; }

.heading-primary-secondary {
  animation-name: moveInLeft;
  animation-duration: 3s; }

.scroll__down {
  position: absolute;
  top: 95%;
  bottom: -44px;
  left: 55%;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  text-align: center;
  background-color: transparent;
  border: none;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 62.5em) {
    .scroll__down {
      left: 50%; } }

.m_scroll_arrows {
  display: block;
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px; }

.trei {
  margin-top: -11px;
  animation: mouse-scroll 1s infinite;
  animation-delay: .1s; }

.unu {
  margin-top: -9px;
  animation: mouse-scroll 1s infinite;
  animation-delay: .2s; }

.doi {
  margin-top: -7px;
  animation: mouse-scroll 1s infinite;
  animation-delay: .3s; }

@keyframes mouse-scroll {
  0% {
    opacity: 0; }
  25% {
    opacity: .25; }
  50% {
    opacity: .5; }
  75% {
    opacity: .75; }
  100% {
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% { }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes logoAppear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes scrollDown {
  0% {
    top: 14px;
    opacity: 0; }
  15% {
    top: 14px;
    opacity: 1; }
  30% {
    top: 14px;
    opacity: 1; }
  45% {
    top: 34px;
    opacity: 1; }
  100% {
    top: 34px;
    opacity: 0; } }

.skills {
  grid-column: center-start / center-end;
  margin: 12rem 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(30rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }
  @media only screen and (max-width: 37.5em) {
    .skills {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); } }

.skill {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  .skill__icon {
    fill: #c69963;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .skill-text {
    font-size: 1.7rem; }

.about__pictures {
  background-color: #fff;
  grid-column: full-start / col-end 2;
  background-image: url(../img/about__background.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .about__pictures {
      grid-column: 1 / -1;
      padding: 6rem; } }

.about__img--1 {
  width: 110%;
  grid-row: 1 / 4;
  grid-column: 2 / 7;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  z-index: 2; }
  @media only screen and (max-width: 50em) {
    .about__img--1 {
      grid-column: 1 / 5;
      grid-row: 1 / -1; } }

.about__img--2 {
  width: 130%;
  grid-row: 3 / 6;
  grid-column: 4 / 8;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  z-index: 3; }
  @media only screen and (max-width: 50em) {
    .about__img--2 {
      grid-row: 1 / -1;
      width: 100%; } }

.about__content {
  background-color: white;
  grid-column: col-start 3 / full-end;
  padding: 6rem 8vw;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  align-items: center; }
  .about__content--left {
    grid-row: 2 / 7;
    grid-column: 1 / 5; }
    @media only screen and (max-width: 50em) {
      .about__content--left {
        width: 100%;
        grid-column: 2 / 5;
        margin-left: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__content--left {
        grid-column: 3 / 7;
        grid-row: 1 / 5;
        width: 100%; } }
  .about__content--right {
    grid-row: 2 / 8;
    grid-column: 5 / 9; }
    @media only screen and (max-width: 50em) {
      .about__content--right {
        grid-row: 5 / 8;
        grid-column: 6 / 9;
        width: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .about__content--right {
        grid-column: 3 / 7;
        grid-row: 5 / 8;
        width: 100%; } }
  @media only screen and (max-width: 50em) {
    .about__content {
      grid-column: 1 / -1;
      grid-row: 4 / 5;
      padding: 2rem; } }

.about__text {
  font-size: 1.5rem;
  font-style: italic; }

.about__icon {
  height: 5rem;
  width: 5rem; }
  .about__icon:not(:last-of-type) {
    margin-bottom: 2rem; }

.portfolios {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to bottom, rgba(16, 29, 44, 0.75), rgba(16, 29, 44, 0.9)), url(/img/billy-huynh-278252-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 8rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(20rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }
  @media only screen and (max-width: 37.5em) {
    .portfolios {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); } }

.portfolio {
  display: grid;
  background-color: rgba(84, 72, 58, 0.5);
  color: #fff;
  border-radius: 5px; }
  .portfolio__photo {
    width: 100%; }
  .portfolio__name {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    transform: translateY(-50%);
    z-index: 3;
    width: 80%;
    border-radius: 5px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 1.25rem;
    background-image: linear-gradient(to bottom, #101d2c, #54483a);
    color: #fff;
    font-weight: 400; }
  .portfolio__text {
    padding: 2rem;
    font-size: 1.4rem; }
  .portfolio__btn {
    grid-column: 1 / -1;
    background-color: #54483A; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  color: #fff;
  padding: 8rem; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  grid-gap: 2rem;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); } }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block; }
